<app-header></app-header>

<div class="container">
    <div class="col-sm-8 offset-sm-2">
        <ul class="list-group">
            <li class="list-group-item">Services</li>
        
            
            <li class="list-group-item list-group-item-primary active" [routerLink]="['/services/detail', 'd4d366db-eb0f-4456']">Flight insurance</li>
            <li class="list-group-item list-group-item-light">Cash currency</li>
            <li class="list-group-item list-group-item-light">Travel internet</li>
            <li class="list-group-item list-group-item-light">Claim your flight</li>
        </ul>
    </div>
</div>
